<!-- <div class="text-center">
  <img src="../../../assets/img/APLogo-20-20.png" alt="" width="300px">
</div>
<div class="text-center" >
  <img src="../../../assets/img/error.svg" class="" alt="Error" width="300px">
  <h3 class="mt-4">Lo sentimos estamos teniendo inconvenientes con nuestros servidores, sepa disculparnos</h3>
</div> -->


<div class="container-error">
  <img src="../../../assets/img/APLogo-20-20.png" alt="" width="300px">
  <img src="../../../assets/img/error.svg" class="" alt="Error" width="300px">
  <h3 class="mt-4 mb-4 text-center">Lo sentimos estamos teniendo inconvenientes con nuestros servidores, sepa disculparnos</h3>
  <span class="mb-4 text-center">Error: {{ error }}</span>
</div>

